* { margin: 0; padding: 0; }

::-moz-selection { color: black; background: lightgray; }

::selection { color: black; background: lightgray; }

html, body { height: 100%; }

body, section, h1, h2, h3, h4 { font-family: Arial, sans-serif; }

body, section, h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif; }

a { -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
a:hover, a:focus { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-style: normal; text-transform: uppercase; letter-spacing: 3px; font-weight: 300; }

code { background: whitesmoke; color: black; text-transform: none; }

#footer { padding: 65px 0 150px; background: whitesmoke; border-top: 1px solid lightgray; text-align: center; font-weight: 300; }
#footer h3 { margin-bottom: 30px; color: gray; }
#footer ul { list-style: none; display: table; margin: 0 auto; }
#footer ul li { display: inline-block; min-width: 50px; min-height: 75px; margin: 0 30px; padding: 0 30px; position: relative; }
#footer ul li a { color: lightgray; }
#footer ul li a i { font-size: 2.6em; }
#footer ul li a p { position: absolute; font-weight: 400; letter-spacing: 1px; display: none; left: 0; right: 0; margin: auto; margin-top: 10px; color: inherit; }
#footer ul .email:hover a { color: red; }
#footer ul .github:hover a { color: #000000; }
#footer ul .twitter:hover a { color: #32CCFE; }
#footer ul .facebook:hover a { color: #3b5998; }
#footer ul .linkedin:hover a { color: #0976b4; }
#footer .dash { background-color: #cccccc; }
#footer .license { font-family: Georgia, sans-serif; color: lightgray; letter-spacing: 1px; font-size: 13px; margin-top: 15px; }
#footer .license a { color: inherit; padding-bottom: 3px; border-bottom: 1px dotted lightgray; }
#footer .license a:hover { border-bottom: 1px solid lightgray; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
mark { letter-spacing: 1px; padding: 0.5em; }

pre { font-size: 18px; padding: 1.5em 1em; border-radius: 0; border: none; border: 1px solid #ccc; border-left: 6px solid #ccc; background: shade(white, 2%); }

.highlight { margin-bottom: 30px; position: relative; }

.highlight { background-color: #fdf6e3; color: #586e75; }

.highlight .lineno { color: #93a1a1; }

/* Line Numbers */
.highlight .c { color: #93a1a1; }

/* Comment */
.highlight .err { color: #586e75; }

/* Error */
.highlight .g { color: #586e75; }

/* Generic */
.highlight .k { color: #859900; }

/* Keyword */
.highlight .l { color: #586e75; }

/* Literal */
.highlight .n { color: #586e75; }

/* Name */
.highlight .o { color: #859900; }

/* Operator */
.highlight .x { color: #cb4b16; }

/* Other */
.highlight .p { color: #586e75; }

/* Punctuation */
.highlight .cm { color: #93a1a1; }

/* Comment.Multiline */
.highlight .cp { color: #859900; }

/* Comment.Preproc */
.highlight .c1 { color: #93a1a1; }

/* Comment.Single */
.highlight .cs { color: #859900; }

/* Comment.Special */
.highlight .gd { color: #2aa198; }

/* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #dc322f; }

/* Generic.Error */
.highlight .gh { color: #cb4b16; }

/* Generic.Heading */
.highlight .gi { color: #859900; }

/* Generic.Inserted */
.highlight .go { color: #586e75; }

/* Generic.Output */
.highlight .gp { color: #586e75; }

/* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt { color: #586e75; }

/* Generic.Traceback */
.highlight .kc { color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd { color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn { color: #859900; }

/* Keyword.Namespace */
.highlight .kp { color: #859900; }

/* Keyword.Pseudo */
.highlight .kr { color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt { color: #dc322f; }

/* Keyword.Type */
.highlight .ld { color: #586e75; }

/* Literal.Date */
.highlight .m { color: #2aa198; }

/* Literal.Number */
.highlight .s { color: #2aa198; }

/* Literal.String */
.highlight .na { color: #586e75; }

/* Name.Attribute */
.highlight .nb { color: #B58900; }

/* Name.Builtin */
.highlight .nc { color: #268bd2; }

/* Name.Class */
.highlight .no { color: #cb4b16; }

/* Name.Constant */
.highlight .nd { color: #268bd2; }

/* Name.Decorator */
.highlight .ni { color: #cb4b16; }

/* Name.Entity */
.highlight .ne { color: #cb4b16; }

/* Name.Exception */
.highlight .nf { color: #268bd2; }

/* Name.Function */
.highlight .nl { color: #586e75; }

/* Name.Label */
.highlight .nn { color: #586e75; }

/* Name.Namespace */
.highlight .nx { color: #586e75; }

/* Name.Other */
.highlight .py { color: #586e75; }

/* Name.Property */
.highlight .nt { color: #268bd2; }

/* Name.Tag */
.highlight .nv { color: #268bd2; }

/* Name.Variable */
.highlight .ow { color: #859900; }

/* Operator.Word */
.highlight .w { color: #586e75; }

/* Text.Whitespace */
.highlight .mf { color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh { color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi { color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo { color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb { color: #93a1a1; }

/* Literal.String.Backtick */
.highlight .sc { color: #2aa198; }

/* Literal.String.Char */
.highlight .sd { color: #586e75; }

/* Literal.String.Doc */
.highlight .s2 { color: #2aa198; }

/* Literal.String.Double */
.highlight .se { color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh { color: #586e75; }

/* Literal.String.Heredoc */
.highlight .si { color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx { color: #2aa198; }

/* Literal.String.Other */
.highlight .sr { color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 { color: #2aa198; }

/* Literal.String.Single */
.highlight .ss { color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp { color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg { color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi { color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il { color: #2aa198; }

/* Literal.Number.Integer.Long */
.sink { display: inline-block; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px transparent; }

.sink:hover, .sink:focus, .sink:active { -webkit-transform: translateY(5px); transform: translateY(5px); }

.padded { padding-left:15%; padding-right:15%; padding-top:1%;}

a { text-decoration-line: none;}
